
  .home {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .home-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .home-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
    z-index: 1;
  }
  
  .content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
  }
  
  .content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .content p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .content button a {
    text-decoration: none;
    color: white;
  }
  
  .content button:hover {
    background-color: rgba(0, 123, 255, 1);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .content h1 {
      font-size: 2rem;
    }
  
    .content p {
      font-size: 1rem;
    }
  
    .content button {
      font-size: 0.9rem;
      
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 2rem;
    }
  
    .content p {
      font-size: 1.2rem;
    }
  
    .content button {
      padding: 10px 16px;
    }
  }
  